{% extends "base.html" %}
{% block title %}
{{ wiki_name }} • Log In
{% endblock %}
{% block body %}
<h1>Log In</h1>
<form action="{{ request.full_path }}" method="POST">
	<p><input type='text' name="username" id="username" placeholder="username" autofocus></p>
	<p><input type="password" name="password" id="password" placeholder="••••••••"></p>
	<p><label for="remember_me"><input type="checkbox" name="remember_me" id="remember_me" value="yes"> Remember me</label></p>
	<p><input type="submit" name="submit" value="Log In"></p>
</form>
{% endblock %}